.product-card {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 20px;
    width: 200px ;
  
  }
  
  .product-card p {
    margin: 0;
  }
  
  .product-card button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .product-card button:hover {
    text-decoration: underline;
  }