.product-list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
  }
  .product-list-page .product-list{
    display:flex;
    position:relative;
    justify-content:space-between;
  }
  
 